.ia-announcement-bar {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px 16px;
  gap: 10px 16px;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 101;
  background: var(--background, #ffffff);
  border: var(--border, 0px solid #000000);
  border-radius: var(--border-radius, 0px);
  font-family: var(--font-family, "Assistant", sans-serif);
}

.ia-announcement-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  overflow: hidden;
  gap: 26px;
}

.ia-announcement-titles-container {
  overflow: hidden;
  position: relative;
  width: auto;
  padding: 0px;
}

.ia-announcement-titles {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.ia-announcement-title {
  font-weight: 700;
  margin: 0px;
  padding: 0px;
  line-height: 1.2;
  word-break: break-word;
  letter-spacing: normal;
  font-size: var(--font-size, 18px);
  color: var(--color, #000000);
}

.ia-announcement-subtitle {
  line-height: 1.2;
  margin: 0px;
  padding: 0px;
  letter-spacing: normal;
  font-size: var(--font-size, 14px);
  color: var(--color, #000000);
}

.ia-announcement-cta {
  display: block;
  padding: 8px 16px;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  white-space: nowrap;
  line-height: 1.5;
  background: var(--background, #000000);
  color: var(--color, #ffffff);
  font-size: var(--font-size, 14px);
  border-radius: var(--border-radius, 4px);
}

@media (max-width: 620px) {
  .ia-announcement-title {
    font-size: 14px;
  }
  .ia-announcement-subtitle {
    font-size: 11px;
  }
  .ia-announcement-cta {
    font-size: 12px;
  }
}

.ia-announcement-close-button {
  display: block;
  border: none;
  background: none;
  cursor: pointer;
  margin-left: auto;
}

.ia-announcement-close-icon {
  width: 12px;
  height: 12px;
  display: block;
}

/* CAROUSEL CSS BELOW */

.ia-announcement-carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  /* max-width: 600px; */
  margin: auto;
  display: flex;
  align-items: center;
}

.ia-announcement-carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

.ia-annoucement-carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ia-annoucement-titles-wrapper {
  padding: 0px 24px;
  text-align: center;
}

.ia-announcement-carousel-control-prev,
.ia-announcement-carousel-control-next {
  width: 20px;
  height: 100%;
  background-color: var(--background-color, rgba(255, 255, 255, 0));
  color: var(--color, #000000);
  border: none;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 1;
}

.ia-announcement-carousel-control-prev {
  left: 0;
}

.ia-announcement-carousel-control-next {
  right: 0;
}

@media screen and (max-width: 760px) {
  .ia-announcement-carousel-control-prev,
  .ia-announcement-carousel-control-next {
    display: none;
  }
}

/* MARQUEE CSS BELOW */
@keyframes ia-marquee-parent {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - var(--gap, 30px)));
  }
}

.ia-marquee-parent {
  display: flex;
  gap: var(--gap, 30px);
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.ia-marquee-parent span {
  will-change: transform;
  transform: translateX(0);
  white-space: nowrap;
  animation: ia-marquee-parent var(--animation-speed, 10s) linear infinite;
}
